<!doctype html>
<html lang="en">
    <%- include widgets/header.ejs %>
    <%- include widgets/mainNav.ejs %>

        <div class="overlay" id="sermons">
            <h1>Sermons</h1>
        </div>
        <div class="container px-3 my-5">
            <div id="sermon-list" class="row">
                <div class="col-lg-4 mb-5">
                    <input type="text" class="w-100 fuzzy-search form-control" placeholder="Search by pastor, passage, or title">
                </div>
                <ul class="list col-lg-8">
                    <% sermons.forEach(function(v){ %>
                        <!--<% if(v.page === currentPage) { %>-->
                        <div class="w-100 mb-3">
                            <li>
                                <div class="card w-100">
                                    <div class="card-body">
                                        <h4 class="title"><%= v.title %></h4>
                                        <h6 class="mb-2 text-muted">
                                            <span class="speaker"><%= (v.speaker && v.speaker!=='') ? v.speaker : 'UCLA Grace on Campus' %></span> | <span class="passage"><%= (v.passage && v.passage!=='') ? v.passage : 'selected' %></span> | <span><%= v.datestring %></span>
                                        </h6>
                                        <div class="row mt-4">
                                            <div class="col-md-10">
                                                <audio preload="none" class="w-100 sermon-audio" controls>
                                                    <source src="<%= v.URI %>">
                                                </audio>
                                            </div>
                                            <div class="col-md-2 mobile-padding">
                                                <h6 style="font-size: .9rem; line-height: 39px;" class="float d-inline">
                                                    <a href="<%= v.URI %>" download="<%= v.title %>">
                                                        <i style="font-size: 1rem" class="icon ion-ios-cloud-download-outline"></i>&nbsp;&nbsp;Download</a>
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <!--<% } %>-->
                    <% }) %>
                </ul>
                <nav class="mt-5" aria-label="Sermon Page navigation">
                    <ul class="pagination justify-content-center">
                        <% if (previousPage!==null) { %>
                            <li class="page-item"><a class="page-link" href="/sermons/page/<%= previousPage %>">Previous</a></li>
                        <% } else { %>
                            <li class="page-item disabled" tabindex="-1"><a class="page-link" >Previous</a></li>
                        <% } %>
                        <% if (pages.length) { %>
                            <% pages.forEach(function(page) { %>
                                <% if (currentPage === page) { %>
                                    <li class="page-item active"><a style="color:#fff!important"  class="page-link" href="/sermons/page/<%= page %>"><%= page %></a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link" href="/sermons/page/<%=page%>"><%= page %></a></li>
                                <% } %>
                            <% }) %>
                        <% } %>
                        <% if (nextPage!==null) { %>
                            <li class="page-item"><a class="page-link" href="/sermons/page/<%= nextPage %>">Next</a></li>
                        <% } else { %>
                            <li class="page-item disabled" tabindex="-1"><a class="page-link" >Next</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </div>
        <%- include widgets/footer.ejs %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
        <script>
            var refTagger = {
                settings: {
                    bibleVersion: "ESV",
                    caseInsensitive: !false,
                    dropShadow: false,
                    roundCorners: true,
                    socialSharing: [],
                    customStyle: {
                        heading: {
                            backgroundColor: "#fff"
                        },
                        body: {
                            moreLink: {
                                color: "#539ab9",
                                fontFamily: "Akkurat"
                            }
                        }
                    }
                }
            };
            (function (d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.src = "//api.reftagger.com/v2/RefTagger.js";
                s.parentNode.insertBefore(g, s);
            }(document, "script"));
            $(document).ready(function () {
                var options = {
                    valueNames: ['title', 'speaker', 'passage'],
                };
                var hackerList = new List('sermon-list', options);
            })
        </script>
        <script>
            let sermonAudios = document.getElementsByClassName("sermon-audio");
            function sermonPlay(event){
                console.log(event);
                for (let s of sermonAudios) {
                    console.log(s);
                    if(s != event.target)
                        s.pause();
                }
            }
            for (let s of sermonAudios) {
                s.addEventListener("play", sermonPlay);
            }
        </script>

</html>
