<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>
    <div class="overlay" id="Small">
        <h1>Small Groups</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto px-4 py-5 my-3">
                <h3>What are small groups?</h3>
                <hr>
                <p>Small groups are the backbone of our discipleship ministry. Each small group focuses on Bible study, prayer, fellowship, and accountability. In these smaller, more intimate groups, we have the opportunity to develop deep relationships so that we can better love, serve, and care for each other. Each small group has a leader who will minister to your spiritual needs, counsel you through life’s tough issues, and spur you on in your walk with the Lord.</p>
                <br/>
                <br/>
                <h3>Open Small Groups:</h3>
                <hr>
                <div class="container px-0 px-sm-3 my-5">
                    <div class="col-lg-10 px-0 px-sm-3 mx-auto">
                        <% if (!menSgs) { %>
                            <p class="px-3 px-sm-0 mb-5">There are no (recorded) open men small groups. Please contact Caleb Ting.</p>
                        <% } %>
                        <% if (menSgs) { %>
                            <table class="table table-striped">
                                <tr><p style = "font-family: 'Akkurat', sans-serif;font-size:16px;font-style:normal;line-height: 0px;"><font color = 539ab9>MEN</font></p></tr>
                                    <tr>
                                        <td><b>Leader Name</b></td>
                                        <td><b>Email</b></td>
                                        <td><b>Open Spots</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% menSgs.forEach(function(car) { %>
                                        <tr>
                                            <td>
                                                <%= car.leader_name %>
                                            </td>
                                            <td>
                                                <%= car.email %>
                                            </td>
                                            <td>
                                                <%= car.openSpots%>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
                <div class="container px-0 px-sm-3 my-5">
                    <div class="col-lg-10 px-0 px-sm-3 mx-auto">
                        <% if (!womenSgs) { %>
                            <p class="px-3 px-sm-0 mb-5">There are no (recorded) open women small groups. Please contact Caleb Ting.</p>
                        <% } %>
                        <% if (womenSgs) { %>
                            <table class="table table-striped">
                                <tr><p style = "font-family: 'Akkurat', sans-serif;font-size:16px;font-style:normal;line-height:0px;"><font color = 539ab9>WOMEN</font></b></tr>
                                    <tr>
                                        <td><b>Leader Name</b></td>
                                        <td><b>Email</b></td>
                                        <td><b>Open Spots</b></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% womenSgs.forEach(function(car) { %>
                                        <tr>
                                            <td>
                                                <%= car.leader_name %>
                                            </td>
                                            <td>
                                                <%= car.email %>
                                            </td>
                                            <td>
                                                <%= car.openSpots%>
                                            </td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        <% } %>
                    </div>
                </div>
                <br/>
                <br/>
                <h3>Small Group Leader Blurbs</h3>
                <hr>
                <p>Here are the small group leader blurbs, with some more information about each small group! Feel free to contact any of the leaders with open spots about joining!</p>
                <div class="row">
                    <div class="col">
                        <a class="mt-1 btn outline btn-primary" href="/docs/sgl-men.pdf" target="_blank">Men</a>
                    </div>
                    <div class="col">
                        <a class="mt-1 btn outline btn-primary" href="/docs/sgl-women.pdf" target="_blank">Women</a>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>
<%- include widgets/footer.ejs %>
</html>
